@import '_vars.scss';

.navbar {
  display: flex;
  justify-content: space-between;
}
.header-user-login {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  &__btn {
    align-self: center;
    text-decoration: none;
    color: $white-color;
    padding: 5px 42px;
  }
  &__sign-out {
    display: none;
    background: transparent;
    border: solid  1px $global-color;
    color: $global-color;
    padding: 5px 20px;
    &:hover {
      background-color: $global-color;
      color: $white-color;
    }
  }
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}


.signin, .signup {
  align-self: center;
  text-decoration: none;
  background: transparent;
  color: $grey-color;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  &:hover {
    color: #212529;
  }
}

.register-form {
  display: block;
}
.signin-form{
  display: none;
}
.close-btn {
  background: transparent;
    border: solid  1px $global-color;
    color: $global-color;
    &:hover {
      background-color: $global-color;
      color: $white-color;
    }
}
.signin-msg,
.signup-msg {
  display: flex;
  gap: 8px;
  color: #ff2222;
  font-size: 14px;
  font-weight: 400;
  padding-left: 8px;
}
