@import "_vars.scss";

.content {
display: flex;
align-items: center;
justify-content: center;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/src/assets/sidebarGif.gif);
  margin: 0;
  padding: 0;
  background-color: #eaedee;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__text {
    font-size: 26px;
    font-weight: 400;
    color: $white-color;
    margin: 50px 0 0 15px;
  }
}
.author{
  color: $white-color;
  font-size: 18px;
  margin:0 0 50px 15px;
}
.pinned-post {
  margin-bottom: 60px;
}

.title {
  font-family: $font-family;
  font-size: 18px;
  margin: 0;
}

.text {
  font-size: 24px;
}
.desc {
  font-size: 14px;
}

.recent-post__text {
  color: $grey-color;
  font-size: 16px;
}

.btn,
.btn:disabled {
  background-color: $global-color;
  color: $white-color;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    border:  solid 1px $global-color ;
    color: $global-color;
  }
}

.generete-url {
  display: none;
}